.portfolio-parent {
  /* border: solid 1px green; */
  color: #fff;
}
.portfolio-parent h1 {
  color: #fee715;
  text-align: center;
}
.portfolio-list {
  border: solid red 1px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
#card {
  border: solid #fee715 2px;
  height: 200px;
  width: 400px;
  margin-bottom: 50px;
  margin-right: 80px;
  text-align: center;
  align-content: center;
  font-size: 30px;
}
