.home-parent {
  /* border: solid green 3px; */
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 300px;
  height: 100%;
  margin-left: 90px;
}
.text-buttons {
  /* border: solid 1px #fee715; */
  margin-top: 100px;
  width: 400px;
}
.image-box {
  /* border: solid 2px white; */
  height: 350px;
  width: 350px;
}
.button-parent {
  /* border: solid goldenrod; */
  margin-top: 50px;
  text-align: center;
}
.btn-1 {
  height: 40px;
  width: 90px;
  font-size: 15px;
  font-weight: bold;
  margin: 20px;
  border-radius: 60px;
  border: solid 2px #000;
}
.btn-1:hover {
  background-color: #fee715;
}
.text-parent h3 {
  font-family: Georgia;
  color: white;
  text-align: center;
}
.text-parent h2 {
  font-family: Georgia;
  color: white;
  text-align: center;
}
.text-parent h1 {
  font-family: Georgia;
  color: white;
}
#name-yonatan {
  color: #fee715;
}
